<div class='item'>
  <a class='title'>
    <%= model.get('title') %>
  </a>
  <div class='time_delta'>
    <%= model.get('time_delta') %>
  </div>
  <div class='body'>
    <%= model.get('content') %>
  </div>
</div>
