<% feeds.each(function(f) { %>
  <% if(selected == f) { %>
    <li class='subscription selected'>
  <% }
  else { %>
    <li class='subscription'>
  <% } %>
    <a href="#feeds/<%= f.id %>">
      <%= f.escape('title') %>
    </a>
  </li>
<% }); %>
