- content_for :head do
  = stylesheet_link_tag 'home'
  = javascript_include_tag 'home'
.top_bar
  %h1 Reader
.container-fluid
  #sidebar.sidebar.subscriptions
    = render :partial => 'subscriptions'
  .content

= render :file => 'feeds/new'
