- content_for :head do
  = stylesheet_link_tag 'home'
  = javascript_include_tag 'home'
  :javascript
    $(function() {
      var feeds = #{current_user.feeds_json.html_safe};
      Reader.init({feeds: feeds});
    });
#sidebar.sidebar.subscriptions
  %h3 Subscriptions
  %ul.subscriptions
.content

= render :file => 'feeds/new'
