- content_for :head do
  :javascript
    $.ajaxSetup({cache: false});
    $(function() {
      var feeds = #{current_user.feeds_json.html_safe};
      Reader.init({feeds: feeds});
    });
#sidebar.sidebar.subscriptions
  %h3 Subscriptions
  %ul.subscriptions
.content

= render :file => 'feeds/new'
