// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "items";
@import "feed";
body {
  padding-bottom: 2em;
}
#sidebar {
  ul.subscriptions {
    li {
      &.selected {
        color: black;
        font-weight: bold;
      }
    }
  }
}
.top_bar {
 background: #264C7A;
 padding: 10px 20px 0;
 h1 {
   color: white;
 }
}

.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;

  &.viewing {
    border: 3px solid #88b;
  }
  &.read {
    .title {
      color: gray;
    }
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #0B58c3;
    margin-bottom: 1em;
  }

  margin-bottom: 0.5em;
}
