html {
  background: #47c;
}
body {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    padding: 15px;
    border-radius: 10px;
}

.actions {
  ul.links {
    float: right;
    margin-right: 290px;
    margin-top: -4px;
  }
}

